@using Assignment1.UI.Models
@if (Machines is null || Machines.Count() == 0)
{
    <MudPaper Class="pa-16 ma-2" Square="true" Style="text-align:center"> List is empty🤷‍♀️🤷‍♀️</MudPaper>
}
<MudTable Items="@Machines" Hover="true" Breakpoint="Breakpoint.Sm">
    <ColGroup>
        <col style="width:300px;" />
        <col />
    </ColGroup>
    <HeaderContent >
        
        <MudTh></MudTh>
        <MudTh>Machine Type</MudTh>
        
    </HeaderContent>
    <RowTemplate>
        <MudTd><MudButton Variant="Variant.Outlined" OnClick="@(() => { if (@context.ShowDetails == false) { @context.ShowDetails = true; GetAssetList(@context.Type); }else { @context.ShowDetails = false; } })" Size="Size.Small" >@((context.ShowDetails == true) ? "Hide" : "Show") Assets List</MudButton></MudTd>
        
        <MudTd DataLabel="Name">@context.Type</MudTd>
    </RowTemplate>
    <ChildRowContent>
        @if (context.ShowDetails)
        {
            <MudTr>
                <td colspan="2">
                    <MudCard Elevation="0">
                        <MudCardHeader>
                            <CardHeaderContent>
                                <MudText Typo="Typo.body1">Assets getting used for <strong>@context.Type</strong></MudText>
                                <MudIconButton Icon="@Icons.Material.Outlined.Edit" />
                                </CardHeaderContent>
                        </MudCardHeader>
                        <MudCardContent Class="pa-0">
                            <MudTable Items="@context.Assets" Context="AssetContext" Hover="true" Breakpoint="Breakpoint.Sm" Elevation="0">
                                <ColGroup>
                                    <col />
                                    <col style="width:200px;" />
                                </ColGroup>
                                <HeaderContent>
                                    <MudTh>Asset Name</MudTh>
                                    <MudTh>Series</MudTh>
                                </HeaderContent>
                                <RowTemplate>
                                    <MudTd DataLabel="AssetName">@AssetContext.Name</MudTd>
                                    <MudTd DataLabel="Series">@AssetContext.SeriesNumber</MudTd>
                                </RowTemplate>
                            </MudTable>
                        </MudCardContent>
                    </MudCard>
                </td>
            </MudTr>
        }
    </ChildRowContent>
</MudTable>

@code
{
    string s = "SHreyas";
}